table {
	width:80%;
}

table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
} 

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image{
	width: 10%;
}

.popup_form {
  display: none;
  position: fixed;
  bottom: 45%;
  right: 45%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

