
{{ define "allowed"}}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Members</title>
<link rel="stylesheet" href="/static/css/members.css">
</head>
	<body>
		<div class="wrapper">
			<table>
			  <tr>
				<th>Имя</th>
				<th>ID</th>
				<th>Должность</th>
				<th>Фото</th>
			  </tr>
			{{range .Members}}
			  <tr>
				<td>{{.Id}}</td>
				<td>{{.Name}}</td>
				<td>{{.Status}}</td>
				<td class="image"><img src={{.Image}}></td>
			  </tr>
			{{end}}		  
			</table>
		</div>
	</body>
</html>

{{ end }}
