
{{ define "allowed"}}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Members</title>
<link rel="stylesheet" href="/static/css/members.css">
<script type="text/javascript">
	function changePhoto(){
			ocument.getElementById("myForm").style.display = "block";
	}
</script>
</head>
	<body>
		<div class="wrapper">
			<table>
			  <tr>
				<th>Имя</th>
				<th>ID</th>
				<th>Должность</th>
				<th>Фото</th>
			  </tr>
			{{range .Members}}
			  <tr>
				<td>{{.Id}}</td>
				<td>{{.Name}}</td>
				<td>{{.Status}}</td>
				<td onclick="changePhoto()" class="image" onclick=><img src={{.Image}}></td>
			  </tr>
			{{end}}		  
			</table>
		</div>

		<form action="/members" method="post">
		  <label for="name">Имя:</label><br>
		  <input type="text" name="name" value="John"><br>
		  <label for="id">ID:</label><br>
		  <input type="text" name="id" value="John"><br>
		  <label for="id">Должность:</label><br>
		  <input type="text" name="status" value="John"><br>
		  <label for="photo">Фото:</label><br>
		  <input type="text" name="photo" /><br>
		  <input type="submit" value="Submit">

        </form>		
		
		<form method="post" action="/upload" enctype="multipart/form-data">
            <label>The file :</label>
            <input type="file" name="file" required /><br />
            <label>Rename to :</label>
            <input type="text" name="alias" /><br />
            <input type="submit" value="Submit">
        </form>
 


	</body>
</html>

{{ end }}
